# Reload zsh config
alias reload='source ~/.zshrc'

# Git
alias gs='git status'
alias gcm='git commit -m'
alias gcM='git commit -m'
alias push='git push'
alias pull='git pull'
alias amend="git commit --amend"
alias namend="git commit --amend --no-edit"
alias fpush="git push --force-with-lease"
alias stash="git stash"
alias fetch='git fetch'

# Navigation
alias code='cd ~/code'
alias dotfiles='cd ~/dotfiles'

# Use nvim when accidentally typing vim
alias vim='nvim'
