# Reload zsh config
alias reload='source ~/.zshrc'

# Git
alias gs='git status'
alias gcm='git commit -m'
alias gcM='git commit -m'
alias push='git push'
alias pull='git pull'

# Navigation
alias code='cd ~/code'
alias dotfiles='cd ~/dotfiles'

# Use nvim when accidentally typing vim
alias vim='nvim'
