snippet imp "import" b
import $1 from '$2'
endsnippet

snippet react "react" b
import React from 'react'
endsnippet

snippet emo "emotion" b
import styled from '@emotion/styled'
endsnippet

snippet css "emotion css" b
import { css } from '@emotion/core'
endsnippet

snippet gql "gql import" b
import gql from 'graphql-tag'
endsnippet

snippet cx "cx import" b
import cx from 'classnames'
endsnippet
